Source: oncilla-sim
Section: utils
Priority: extra
Maintainer: Alexandre Tuleu <alexandre.tuleu.2005@polytechnique.org>
Build-Depends: debhelper (>= 8.0.0), python, python-sphinx,
 liboncilla-doc
Standards-Version: 3.9.3
Homepage: http://redmine.amarsi-project.eu/projects/oncillasim
Vcs-Git: http://redmine.amarsi-project.eu/git/oncillasim.git

Package: oncilla-sim
Architecture: all
Depends: ${python:Depends}, python-git, liboncilla-webots-dev (>=
 0.2.0~rc3), webots , libcca-oncilla0.1-dev (>=0.1.5),
 build-essential
Suggests: oncilla-sim-doc
Description: Wizard that easily install Oncilla Robot simulator
 Oncilla is a robot from AMARSi project, this package install all what
 is needed to run the simulator and CCA framework


Package: oncilla-sim-doc
Architecture: all
Section: doc
Depends: liboncilla-doc
Suggests: oncilla-sim
Description: Documentation for oncilla-sim
 Oncilla is a robot from AMARSi project. This package install all
 necessary documentation for the simulator
